@media screen and (min-width: 350px) {
  .aboutMe {
    line-height: 2em;
    font-size: 1.1em;
    margin-top: 5em;
    margin-bottom: 8em;
  }

  .profile {
    max-width: 30em;
    height: 25em;
    margin-left: 10em;
    box-shadow: .5em .5em 2em rgb(0, 195, 255);
  }

  h2 {
    text-align: center;
    font-size: 2em;
  }

  .aboutSection {
    width: 45%;
    display: inline-block;
    margin-left: 5em;
    line-height: 2em;  ;
  }

}
  
@media screen and (min-wdith: 750px) {
  
}
