.thinkfulProjects {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.projectSection {
  width: 75%;
  height: auto;
  margin: auto auto;
  margin-top: 5em;
  margin-bottom: 5em;
  box-shadow: 10px 10px 10px gray;
}

.projectImage {
  width: 100%;
}

.projectTitle {
  font-size: 3em;
}

.computerLogo {
  width: 1.2em;
  margin-right: 1em;
}

.githubLogo {
  width: 1.2em;
  margin-right: 1em;
}
